@model Brans
@{
    Layout = "_LayoutDashboard";
    ViewData["Css"] = "";
    ViewData["Title"] = "Hastane Randevular";
}

<div class="h-75 rounded rounded-4 custom-scroll-container overflow-auto">
    @foreach (var randevu in ViewBag.Randevular)
    {
        <div class="card mt-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <span class="text-white bg-info rounded rounded-5 px-2 py-1">@randevu.RandevuTarihSaat </span>
                    </div>
                    <div class="col-md-8 border border-light-subtle">
                        <p class="fw-light">
                            @randevu.HastaneAdi
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p class="fw-light">
                            @randevu.PoliklinikAdi @randevu.BransAdi
                        </p>
                    </div>
                    <div class="col-md-8 border border-light-subtle">
                        <p class="fw-light">
                            @randevu.PoliklinikAdi @randevu.BransAdi
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p class="fw-light text-primary ">
                            @randevu.MuayeneTurAdi
                        </p>
                    </div>
                    <div class="col-md-8 border border-light-subtle">
                        <p class="fw-light">
                            @randevu.DoktorAdi @randevu.DoktorSoyadi
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <form asp-controller="Dashboard" asp-action="HastaneRandevuAl" method="post">
                            <input type="hidden" name="id" value=@randevu.RandevuID>
                            <input type="submit" value="Randevu Al" class="btn btn-primary" />
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    }
</div>