@{ ViewData["Title"] = "Hakkımızda";
    ViewData["Css"] = "~/css/Hakkimizda.css";
}

        <section class="hakkimizda my-5">
    <h2>@_localization.Getkey("Hakkımızda").Value</h2>

    <p>
        @_localization.Getkey("Hastanelerimiz, tüm branşlarda hizmet vermektedir. Acil servis, ameliyathaneler, yoğun bakım üniteleri, laboratuvarlar, görüntüleme merkezi ve diğer tıbbi birimler ile hastalarımıza en iyi sağlık hizmetini sunmak için çalışıyoruz.").Value
            </p>
            <p>
        @_localization.Getkey("Hastanelerimiz, alanında uzman hekim ve sağlık çalışanları ile hizmet vermektedir. Hastalarımızın memnuniyeti bizim için en önemli önceliktir.").Value
    </p>
        </section>

        <section class="vizyon my-5">
    <h2>@_localization.Getkey("Vizyonumuz").Value</h2>
            <p>
        @_localization.Getkey("Hastanelerimiz, hasta odaklı hizmet veren, alanında lider bir sağlık kuruluşu olmaktır.").Value
            </p>
        </section>

        <section class="misyon my-5">
    <h2>@_localization.Getkey("Misyonumuz").Value</h2>
            <p>
        @_localization.Getkey("Tüm hastalarımıza en iyi sağlık hizmetini sunmak, onların memnuniyetini sağlamak ve Türkiye'nin  sağlık alanında gelişmesine katkıda bulunmaktır.").Value
    </p>
        </section>
    