@{
    ViewData["Title"] = "Doktor Kadrosu";
    ViewData["Css"] = "~/css/DoktorKadro.css";
}

<div class="container my-4">
    <div class="d-flex flex-wrap">
        @foreach (var doktor in ViewBag.Doktorlar)
            {
            <div class="card m-2 bordered-3" style="width: 18rem;">
                @{
                    if (doktor.cinsiyetAdi == "Erkek")
                    {
                        <img src="~/img/mandoctor.png" class="card-img-top" alt="Erkek Doktor Foto">
                    }
                    else
                    {
                        <img src="~/img/womandoc.png" class="card-img-top" alt="Kadın Doktor Foto">
                    }
                }

                <div class="card-body">
                    <ul>
                        <li>Doktor Adı Soyadı: @doktor.doktorAdi @doktor.doktorSoyadi</li>
                        <li>Doktor Cinsiyeti: @doktor.cinsiyetAdi</li>
                        <li>Doktor Branşı: @doktor.bransAdi</li>
                        <li>Doktor Derecesi: @doktor.dereceAdi</li>
                        <li>Doktor Mail Adresi: @doktor.doktorEmail</li>
                    </ul>
                </div>
            </div>
         }
    </div>
</div>
